/* default style rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 11, 49);
}

.row {
    display: flex;
    padding: 80px 0px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

h2 {
    margin-bottom: 25px;
    font-size: 39px;
}

h4 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

.btn {
    padding: 12px 20px;
    border-radius: 25px;
}





/* header style */

header {
    background-color: #385EE9;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-col {
    flex-grow: 1;
}

.login-col {
    flex-grow: 1;
    text-align: right;
}

.login-col a {
    padding: 8px 16px;
    font-size: 14px;
}

/* nav menu */

.nav-col {
    flex-grow: 3;
}

.nav-col ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.nav-col ul li{
    display: inline-block;
}

.nav-col ul li a{
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

/* hero */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 30px;
}

.hero-text {
   max-width: 650px;
   margin-top: 30px;
   padding: 40px 0px 80px 0px;
   text-align: center;
   color: #fff;
}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 42px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.5em;
}

.hero-buttons {
    text-align: center;
    margin-top: 30px;
}

.hero-buttons .btn {
    margin: 0px 6px;
}

.w-btn {
    background-color: #fff;
    color: #000;
}

.fa-solid,.fa-down-long {
    margin-right: 6px;
}

.b-btn {
    background-color: #000;
    color: #fff;
}




/* main style */

.main-col {
    width: 60%;
}

.minor-col {
    width: 40%;
    padding: 30px 15px;
}

.reverse-content {
    flex-direction: row-reverse;
}

.light-bg-section {
    background-color: #F6F6F6;
}

/* download section */

.download-section {
    padding: 80px;
    text-align: center;
}

.download-title {
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-position-y: 1%;
    width: 50%;
    margin: 42px auto;
    padding: 30px 15px 0px 15px;
}

.lb-btn {
    background-color: #7289DA;
    color: #fff;
}



/* dark grey section */

.dark-pink-col {
    flex-grow: 1;
    background-color: #F08080;
}

.light-green-col {
    display: flex;
    flex-grow: 3;
    background-color: #40B2AA;
}

.light-green-col .col {
    width: 25%;
}



/* footer style */

footer {
    background-color: #23272A;
    padding: 30px;
    border-top: 1px solid #BEBEBE;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 10px 0px;
}

.footer-row div {
    padding: 10px;
    background-color: #F9C0CB;
}